@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: teal;
  --primary-color-light: #fffcfa;
  --primary-color-dark: teal;
  --text-dark: #18181b;
  --text-light: #6b7280;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}
.logo{
  display: flex;
  height: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.logo img{
  height: 80px;
  width: 80px;
  
}
.logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.logo a span {
  color: var(--text-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--primary-color-light);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 500;
  color: var(--primary-color);
}

.nav__links a:hover {
  color: var(--text-dark);
}

.nav__btn {
  display: none;
}

.header__container {
  display: grid;
  gap: 8rem;
  overflow: hidden;
}

.header__image{
  border: 2px solid teal;
  height: 600px;
  width: 600px;
  border-radius: 50%;
  padding: 10px;
}

.header__image img {
  border-radius: 50% 50%;
  max-width: 100%;
  height: 100%;
  margin-inline: auto;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content .section__description {
  margin-bottom: 2rem;
}

.header__btn {
  text-align: center;
}

.special__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
}

.special__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.special__card {
  padding: 1rem;
  text-align: center;
  border-radius: 2rem;
  transition: 0.3s;
}

.special__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.special__card img {
  max-width: 200px;
  margin-inline: auto;
  margin-bottom: 1rem;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  border-radius: 40%;
}

/* image slider */
.slider{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}
.container{
  position: relative;
  
  width: 1000px;
  height: 600px;
  background: #f5f5f5;
  border-radius: 20px;
  /* box-shadow: 0 5px 60px 0.3px teal; */
}
.slide{
  border-radius: 20px;
  
}
.container .slide .item{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  /* box-shadow: 0 10px 60px teal; */
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
  top: 0;
  left: 0;
  transform: translate(0, 0);
  /* filter: blur(2px); */
  border-radius: 20px;
  width: 100%;
  height: 100%;
}


.slide .item:nth-child(3){
  left: 50%;
}
.slide .item:nth-child(4){
  left: calc(50% + 220px);
}
.slide .item:nth-child(5){
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 1;
}



.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  opacity: 1;
  z-index: 2;
  font-family: system-ui;
  display: none;
}


.slide .item:nth-child(2) .content{
  display: block;
}


.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 1;
  z-index: 2;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 1;
  z-index: 2;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  z-index: 2;
  transform: translateZ(50px );
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}



.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover{
  background: #ababab;
  color: #fff;
}

.special__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.special__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.special__ratings {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: goldenrod;
}

.special__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.special__footer .price {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.explore__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.explore__image img {
  max-width: 400px;
  margin-inline: auto;
  filter: drop-shadow(0 0 50px rgba(252, 127, 9, 0.4));
}

.explore__content .section__description {
  margin-bottom: 2rem;
}

.explore__btn {
  text-align: center;
}

.banner__container {
  display: grid;
  gap: 1rem;
}

.banner__card {
  padding: 2rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  transition: 0.3s;
}

.banner__card:hover {
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
}

.banner__card .banner__icon {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 2rem;
  color: var(--white);
  border-radius: 1rem;
}

.banner__card:nth-child(1) .banner__icon {
  background-color: #62b15c;
  box-shadow: 5px 5px 30px #62b15cd0;
}

.banner__card:nth-child(2) .banner__icon {
  background-color: #ff3e67;
  box-shadow: 5px 5px 30px #ff3e67d0;
}

.banner__card:nth-child(3) .banner__icon {
  background-color: #185adb;
  box-shadow: 5px 5px 30px #185adbd0;
}

.banner__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.banner__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.banner__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 500;
  color: var(--primary-color);
}

.banner__card a span {
  font-size: 1.25rem;
  transition: 0.3s;
}

.banner__card a:hover span {
  transform: translateX(10px);
}

.chef {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.chef__bg {
  position: absolute;
  z-index: -1;
  max-width: 275px;
  left: -4rem;
  bottom: -2rem;
}

.chef__container {
  padding-bottom: 10rem;
  display: grid;
  gap: 2rem;
}

.chef__content .section__description {
  margin-bottom: 1rem;
}

.chef__image {
  position: relative;
  isolation: isolate;
}

.chef__image img {
  max-width: 500px;
  border-radius: 100%;
  margin-inline: auto;
}

.chef__image::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  max-width: 500px;
  background-color: var(--primary-color);
  border-radius: 100%;
  z-index: -1;
}

.chef__list {
  display: grid;
  gap: 0.5rem;
}

.chef__list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  color: var(--text-dark);
}

.chef__list li span {
  font-size: 1.5rem;
}

.chef__list li:nth-child(1) span {
  color: #62b15c;
}
.chef__list li:nth-child(2) span {
  color: #ff3e67;
}
.chef__list li:nth-child(3) span {
  color: #185adb;
}

.client__container {
  padding-top: 0;
}

.client__container :is(.section__header, .section__description) {
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.client__swiper {
  margin-top: 2rem;
  max-width: 750px;
  margin-inline: auto;
  padding: 3rem 1rem;
  overflow: hidden;
  border: 2px solid rgba(252, 127, 9, 0.5);
  box-shadow: 5px 5px 30px rgba(252, 127, 9, 0.2);
  border-radius: 3rem;
}

.swiper {
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  text-align: center;
}

.client__card p {
  margin-bottom: 2rem;
  color: var(--text-dark);
  line-height: 1.75rem;
}

.client__card img {
  margin-bottom: 1rem;
  max-width: 70px;
  margin-inline: auto;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__card h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.footer {
  background-color: rgba(66, 215, 215, 0.846);
  color: white;
}

.footer__container {
  display: flex;
  justify-content: space-around;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 1rem;
}

.footer__col .section__description {
  text-align: left;
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.footer__links {
  display: grid;
  gap: 0.75rem;
}

.footer__links a {
  color: white;
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

/* loader */
.loader-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  --dim: 3rem;
  width: var(--dim);
  height: var(--dim);
  position: relative;
  animation: spin988 2s linear infinite;
}

.loader .circle {
  --color: #333;
  --dim: 1.2rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}

@media (width > 540px) {
  .special__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--primary-color);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a {
    color: var(--text-dark);
  }
  .nav__btn a{
    color : white
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__btn {
    display: flex;
    flex: 1;
  }

  .nav__btn .btn {
    padding: 8px 10px;
    font-size: 1.3rem;
    
  }

  .header__container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }

  .header__content h1,
  .header__content .section__description,
  .header__btn {
    text-align: left;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .special__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .explore__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .explore__content .section__header {
    max-width: 500px;
  }

  .explore__content :is(.section__header, .section__description),
  .explore__btn {
    text-align: left;
  }

  .banner__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .chef__bg {
    max-width: 300px;
  }

  .chef__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .chef__image {
    grid-area: 1/2/2/3;
  }

  .chef__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .chef__list li {
    justify-content: flex-start;
  }

  .client__swiper {
    padding: 3rem 2rem;
  }

  .footer__container {
    grid-template-columns: 2fr repeat(3, 1fr);
  }
}

@media (width > 1024px) {
  .special__grid {
    gap: 2rem;
  }

  .special__card {
    padding: 2rem;
    border-radius: 3rem;
  }

  .banner__container {
    gap: 2rem;
  }

  .chef__bg {
    max-width: 375px;
  }
}
