*{
    font-family: 'Courier New', Courier, monospace;
    border: 10px;
}
.heading{
    display:flex;
    justify-content: space-evenly;
    margin:0px;
    width: 100%;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(23, 23, 22);

    
    
}
.logo{
    display: flex;
    align-items: center;
    
}

.links ul{
    height:50px;
    align-items: center;
    width:100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}
.links li a{
    margin:10px;
    text-decoration: none;
}
.links ul li a:hover{
    font-size: larger;
    color:rgb(71, 41, 120);
}
.content {
    display: grid;
    grid-template-columns: 50% 50%;
    margin:30px;
    height:70vh;


}
.content_text h1{
    font-size: 4rem;
}

.content_text,.content_image{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.content_text button{
    width:25%;
    font-size: 2rem;
    color: antiquewhite;
    background-color:rgb(121, 202, 243);
    border-radius:10px;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.login{
    display: block;
    padding: 10px;
    background-color: rgb(121, 202, 243);
    border: 1px ;
    border-radius: 20px;
    color: white;
    
}
.img{
    animation-name: hover;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes hover{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0);

    }
}
@keyframes a1{
    from{color:red}
    to{color:rgb(28, 66, 172)};
}
b{
    animation-name: a1;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
select option{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;

    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }
.forms
{   
    display: flex;
    justify-content: space-between;
   
    width:70%;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-size: 1.5rem;
}
.form_content{
    background-color: aqua;
    padding:10px;
}
.form_content div label{
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    background-color: rgb(101, 103, 104);
    display:flex;
    color:white;   
    justify-content: space-evenly;
    margin:0px;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: rgb(23, 23, 22);

}