*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

#about-content{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    height:100vh;

}

.back{
    margin: 0;
    padding: 0;
    width:100vw;
    height:100vh;
    background-image:url(img/hostel.jpg);
    background-position: center;
    background-size:cover;
    
}

.image{
    height: 250px;
    width:250px;
    margin: 20px;
    
}

.name{
    color:red;
}

.image img{
    height:300px;
    width:300px;
}